

/* 首页+导航 */
*{
    margin: 0;
    padding: 0;
}
li{
	list-style: none;
	display: inline-block;
}
a{
	text-decoration: none;
}
.index-common{
	width: 1200px;
	margin:0 auto;
}
#bg{
	width: 100%;
	min-width: 1200px;
	background-image: url(../images/bg.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: 71% auto;
	background-color: #fff;
}
.index-introduce{
	width: 100%;
	min-width: 1200px;
	min-height: 675px;
}
.index-introduce p{
	text-indent: 2em;
	line-height: 32px;
	width: 30%;
	height: 300px;
	color: red;
	font-size: 20px;
	position: absolute;
	margin-top: 180px;
	margin-left: 100px;
}
.index-introduce h3{
	background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(0, 128, 0, 1)), to(rgba(51, 51, 51, 1)));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
	font-size: 25px;
	position: absolute;
	margin-top: 130px;
	margin-left: 100px;
}
.index-video{
	width: 100%;
	min-width: 1200px;
	position: relative;
	overflow: hidden;
	margin-bottom: -20px;
}
.index-video img{
	width: 100%;
}
#video-play{
	height: 116px;
	width: 116px;
	margin: auto;
	background-image: url(../images/video-play-bg.png);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: pointer;
}
#video-modal{
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: black;
}
#video-modal-close{
	display: block;
	position: absolute;
	left: 30px;
	top: 60px;
	width: 44px;
	height: 44px;
	background-image: url(../images/video-close.png);
}
video{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 80%;
	object-fit: contain;
}
.index-act{
	width: 90%;
	height: 500px;
	background: #fff;
}
.index-act-tag{
	padding-top: 50px;
	height: 100px;
}
.index-act-tag p{
	float: left;
	font-size: 35px;
	font-weight: bold;
	padding-left: 20px;
}
.index-act-tag span{
	float: left;
	font-size: 10px;
	font-weight: normal;
	color: #B7B7B7;
	border: 1px solid #B7B7B7;
	padding: 5px;
	position: absolute;
	margin-left: 30px;
	margin-top: 8px;
}
.index-act-tag span:hover{
	border: 1px solid #000;
	color: #000;
}
#index-act-intro1{
	width: 285px;
	height: 300px;
	float: left;
	margin-right: 20px;
	background: #eee;
	cursor: pointer;
}
#index-act-intro2{
	width: 285px;
	height: 300px;
	float: left;
	margin-right: 20px;
	background: #eee;
	cursor: pointer;
}
#index-act-intro3{
	width: 285px;
	height: 300px;
	float: left;
	margin-right: 20px;
	background: #eee;
	cursor: pointer;
}
#index-act-intro4{
	width: 285px;
	height: 300px;
	float: left;
	margin-right: 0px;
	background: #eee;
	cursor: pointer;
}
.expect{
	font-size: 25px;
	color: #adadad;
	position: absolute;
	margin-left: 90px;
	margin-top: 130px;
}



#header{
	width: 100%;
	min-width: 1200px;
	height: 70px;
	margin:0 auto;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
	overflow: hidden;
	background-color: #fff;
}
#header img{
	margin-left: 5%;
}
#header p{
	font-size: 10px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
#userId{
	cursor: auto;
	font-size: 10px;
	margin-right: 60px;
}
#header-menu{
	width: 600px;
	height: 70px;
	position: absolute;
	right: 10%;
	top: 0;
}
.menu-li{
	display: inline-block;
	width: 140px;
	height: 70px;
	line-height: 70px;
	text-align: center;
}
.menu-li{
	color: #ADADAD;
	cursor: pointer;
}
.menu-li:hover{
	color: #000;
	background: #999;
}
#header-menu a:link{
	color: #ADADAD;
}
#header-menu a:visited{
	color: #ADADAD;
}
#header-menu a:hover{
	color: #000;
	background: #999;
}
#header-menu a:active{
	color: #ADADAD;
}
#foot{
	width: 100%;
	min-width: 1200px;
	height: 200px;
	margin: 0 auto;
	background: #111;
	line-height: 35px;
	background-image: url(../images/footBg.jpg);
}
.foot-left{
	float: left;
	margin-left: 10%;
	margin-top: 50px;
}
.foot-right{
	float: right;
	margin-right: 10%;
	margin-top: 50px;
}
#foot p{
	font-size: 30px;
	font-weight: bold;
	color: #222;
}
.foot-left span{
	font-size: 14px;
	color: #666;
}
.qr{
	float: left;
	width: 110px;
	height: 110px;
	color: #fff;
	background-image: url('../images/QR-code.png');
	margin-top: 50px;
	margin-left: 40px;
}
.foot-right ul li{
	font-size: 14px;
}
.foot-right{
	font-weight: bold;
}
a:link{
	color: #666;
}
a:visited{
	color: #666;
}
a:hover{
	color: #666;
	text-decoration: underline;
}
a:active{
	color: #666;
}
/* 登录/注销/提示 */
#fullPage{
	width:100%;
	height: 100%;
	opacity:0.7;
	background-color:#000;
	position: fixed;
	z-index: 2;

}
#alert{
	border: 1px solid #000;
	min-width: 200px;
	min-height: 140px;
	width: 20%;
	height: 14%;
	position: fixed;
	z-index: 9999;
	top: 40%;
	left: 40%;
	opacity: 1;
	background-color: #fff;
	border-radius: 2px;
}
#alertText{
	font-size: 20px;
	color: #000;
	width: 100%;
	height: 70%;
	line-height: 100px;
	text-align: center;
	background-color: #fff;
}
#sure{
	border: 0;
	width: 60%;
	height: 20%;
	background-color: #333;
	color: #fff;
	position: absolute;
	border-radius: 2px;
	outline:medium;
	cursor: pointer;
	margin-left: 20%;
}







/* active */
#active{
	width: 100%;
	height: 1200px;
}
#activeContent{
	width: 1144px;
	height: 424px;
	margin:0 auto;
	padding-top: 300px;
}
.activeBg{
	width: 256px;
	height: 384px;
	float: left;
	margin-left: 30px;
	background-color: #fff;
	cursor: pointer;
}
#activeOne{
	background-image: url(../images/11.png);
	background-size: 100%;
}
#activeTwo{
	background-image: url(../images/33.png);
	background-size: 100%;
}
#activeThree{
	background-image: url(../images/44.png);
	background-size: 100%;
}
#activeFour{
	background-image: url(../images/55.png);
	background-size: 100%;
}
.activeFullPage{
	width: 100%;
	height: 100%;
	background-color: #000;
	position: fixed;
	z-index: 9999;
	opacity: 0.9;
}

.activeShow{
	width: 800px;
	height: 800px;
	margin: 0 auto;
	overflow: auto;
}

/*登陆框*/
body{
		font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',Arial,sans-serif;
 		background-image: url(../images/ricepaper.png);
	}
	#sign{

	}
	#signIn_Up{
		width: 350px;
		height: 400px;
		background-color: #fff;;
		position: fixed;
		margin: auto;
		top: 100px;
		left: 0;
		left: 0;
		right: 0;
		z-index: 9999;
		border-radius: 4px;
		border: 1px solid #ddd;
	}
	.formwrapper input{
		border: 0;
		width: 320px;
		height: 48px;
		outline:medium;
	}
	.formInput{
		margin-left: 14px;
		width: 320px;
		height: 50px;
		border: 1px solid #D5D5D5;
	}
	#signIn{
		display: inline-block;
		width: 130px;
		height: 50px;
		text-align: right;
		font-size: 20px;
		padding-right: 20px;
		color: #0F88EB;
		cursor: pointer;
		line-height: 40px;
	}
	#signUp{
		display: inline-block;
		width: 130px;
		height: 50px;
		text-align: left;
		font-size: 20px;
		padding-left: 20px;
		color: #D5D5D5;
		cursor: pointer;
		line-height: 40px;
	}
	#signClose{
		display: inline-block;
		width: 20px;
		height: 20px;
		background-color: #0F88EB;
		background-image: url('../images/video-close.png');
		background-size: 100%;
		float: right;
		cursor: pointer;
	}
	.signInButton{
		width: 322px;
		height: 40px;
		background-color: #0F88EB;
		color: #fff;
		border: 0;
		border-radius: 2px;
		margin-top: 10px;
		cursor: pointer;
		margin-left: 14px;
		font-size: 18px;
	}
	.signUpButton{
		width: 322px;
		height: 40px;
		background-color: #0F88EB;
		color: #fff;
		border: 0;
		margin-top: 10px;
		cursor: pointer;
		font-size: 18px;
		margin-left: 14px;
	}
	.signInButton:hover,.signUpButton:hover{
		color:#000;
	}
	.bottom{
		border-bottom-width: 0;
	}


	
	/*competition*/


	 	#comp{
	 		overflow: hidden;
	 	}
		.cpLeftRow{
			display: block; 
			cursor: pointer;
		}
		.cpLeftRow:hover{
			color: #0F88EB;
		}
		.cpLeftRow:hover{
			text-decoration: none;
		}
		.sideRight{
			margin-left: 30px;
			font-size: 15px;
			margin-top: 10px;
		}
		.sideLeft{
			text-decoration: none;
			font-size: 20px;
			color: #333;
			margin-top: 10px;
			margin-bottom: 0;
		}
		#cpLeft{
			width: 260px;
			position: fixed;
			top: 160px;
			left: 10px;
			text-align: right;
		}
		#cpRight{
			width: 800px;
			float: left;
			margin-left: 330px;
			text-align: left;
			margin-top: 47px;
		}
		#cpRightHead{
			width: 800px;
			padding-top: 50px;
			font-weight: bold;
			text-align: center;
			font-size: 40px;
			color: #222;
    		text-shadow: 0px 2px 3px #0F88EB;
    		margin-bottom: 10px;
		}
		.cpHead{
			margin-top:20px;
			font-size: 20px;
			font-weight: normal;
			background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(15, 136, 235, 1)), to(rgba(51, 51, 51, 1)));
     		-webkit-background-clip: text;
     		-webkit-text-fill-color: transparent;
		}
		.cpContent{
			margin-top: 10px;
			color: #444;
			line-height: 25px;
			font-size: 16px;
		}
		.importantContent{
			color: red;
			font-size: 18px;
			background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255, 0, 0, 1)), to(rgba(175, 21, 21, 1)));
     		-webkit-background-clip: text;
     		-webkit-text-fill-color: transparent;
		}
		.cpInput{
			border: 1px solid #D5D5D5;
			display: block;
			outline:medium;
			width: 200px;
			height: 30px;
		}
		.cpButton{
			width: 202px;
			height: 30px;
			border: 0;
			font-size: 15px;
			background-color: #0F88EB;
			color: #fff;
			border-radius: 2px;
		}
		.cpButton:hover{
			color: #000;
		}
		#cpJoin .cpBottom{
			border-bottom-width:0;
		}
		#hrefCloud{
			display: inline-block;
		}
		#downLink{
			display: inline-block;
		}
		#noneDiv{
			height: 400px;
			width: 800px;
		}

		#rankTable {
			margin-top: 20px;
			width: 600px;
			font-family: verdana,arial,sans-serif;
			font-size:11px;
			color:#333333;
			border-width: 1px;
			border-color: #999999;
			border-collapse: collapse;
			text-align: center;
		}
		#rankTable th {
			background:#b5cfd2;
			border-width: 1px;
			padding: 8px;
			border-style: solid;
			border-color: #999999;
		}
		#rankTable td {
			background:#dcddc0;
			border-width: 1px;
			padding: 8px;
			border-style: solid;
			border-color: #999999;
		}


		#upLoadFile{
			width: 200px;
			outline:medium;
			background-color: #fff;
		}
		#upLoadButton{
			outline:medium;
		}